---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

.page__footer {
  background-color: #252a34 !important; /* 원하시는 색상(Hex Code)으로 변경하세요 */
  /* 필요하다면 상단 배너처럼 경계선이나 그림자도 추가할 수 있습니다 */
  border-top: 1px solid rgba(255, 255, 255, 0.05); 
}

.auto-link-card{
  width:700px;
  margin:20px 0;
}

.auto-link-card a{
  text-decoration:none;
  color:inherit;
}

.auto-link-card-inner{
  display:flex;
  border:1px solid #e5e5e5;
  border-radius:12px;
  overflow:hidden;
  padding:12px;
  gap:12px;
  transition:.15s;
}

.auto-link-card-inner:hover{
  transform:translateY(-2px);
  box-shadow:0 6px 16px rgba(0,0,0,.08);
}

.auto-link-card-inner img{
  width:48px;
  height:48px;
}

.auto-link-card-body{
  flex:1;
}

.auto-link-card-title{
  font-weight:600;
  margin-bottom:4px;
}

.auto-link-card-url{
  font-size:12px;
  color:#888;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
